* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: antiquewhite;
}

.container {
    width: 100vw;
    height: 100vw;
    overflow: hidden;

    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
        "nav header"
        "nav main";
}

.nav-panel {
    grid-area: nav;
    width: 100%;
    height: 100%;
    background-color: black;
    color: wheat;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 50px 25px;
}

.setting {
    background-color: pink;
}

.search-bar {
    background-color: pink;
}

.profile-notifications {
    background-color: pink;
}

.main {
    grid-area: main;
    padding: 50px 25px;
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "dashboard dashboard"
        "statistics statistics"
        "activities activities";
}

.dashboard-info {
    grid-area: dashboard;
    width: 100%;
    height: 100%;
    background-color: coral;
}

.statistics {
    grid-area: statistics;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.activities {
    grid-area: activities;
    width: 100%;
    height: 100%;
    background-color: brown;
}